

.flex{
    display: flex;
}
.flex-center{
    align-items: center;
}
.btn{
    min-width: 150px;
    height: 2rem;
    max-width: 50%;
    font-size: medium;
    border-radius: 8rem;
    color: white;
    background-color: rgb(14, 185, 102);
}
.menu{
    list-style: none;
  
    font-size: 1.3rem;
    font-weight: 800;
    padding: .5rem;
    color: hsl(233, 8%, 62%);
}

.nav{
    width: 80%;
    /* height: 100px; */
    margin: 0 auto;
    justify-content: space-between;
}
.menu li{
    margin-left: 1rem;
}
.landing-left{
    width: 40%;
    justify-content: center;

}

.size{
    width: 100%;
    height: 100%;
}

.flex-column{
    display: flex;
flex-direction: column;
}
.landing-right{
    text-align: right;
    width: 60%;
    
    background-image: url('./image/bg-intro-desktop.svg');
}
.landing-right img{
    width: 80%;
    
}
.title{
    font-size: 4rem;
}
.subtitle{
    font-size: 1.5rem;
    max-width: 70%;
}
.margin-bottom{
margin-bottom: 2rem;
}

.marketing{
   
    
    background-color:  hsl(220, 16%, 96%);
}
.box{
    max-width: 25%;
    min-width: 300px;
 
 
 }
 .box-title{
    font-size: 1.8rem;
    margin-bottom: .5rem;
}
.box-sub-title{
    font-size: 1.2rem;
    width: 100%;
}
.wrap{
    flex-wrap: wrap;
}
.article-box{
    max-width: 17rem;
    background-color: white;
}
.article{
    background-color: hsl(0, 0%, 98%);
    padding: 4%;
}
.article-content{
    justify-content: space-between;
}
.image{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.image img{
    width: 100%;
   height: 100% ;
   border-radius: 8px;
}
footer{
    background-color: darkblue;
    justify-content: space-around;
    height: 200px;
    color: aliceblue;
}
.one{
    justify-content: space-evenly;
}
.icon img{
    margin-right: .5rem;
}
table{
    color: white;
    margin-left: 2rem;
}
.right-foot{
    justify-content: space-evenly;
}
.footer logo{
    background-color: aliceblue;
}


@media (max-width:1500px) {
    .landing-right img{
        width: 100%;
   
    
    }
    .marketing{
        margin-top:1rem;
    }
    .marketing-box{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:900px){
  .menu{
    display: none;
  }

    
  .container{
    width: 90%;
}
.marketing{
    flex-direction: column;
}
.landing-left,.landing-right{
    width: 100%;
}
.land{
    flex-direction: column;
}
.landing-right{
    order: 1;
}
.landing-left{
    order: 5;
    align-items: center;
}
.marketing{
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.marketing-box{
    width: 100%;
    margin-left: 1rem;
}
.one-box{
   max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.title,.box-sub-title{
    width: 100%;
}
.article-content{
    justify-content: center;
}

.menu ,.btn{
    display: none;
    overflow: hidden;
}
.burger{
    display: block;
    cursor: pointer;
}





}

